@import "_vars.scss";

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $black;
    color: $white;
    overflow: auto;
}

.container-outer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    @media (max-width: 1169.8px) {
        width: 100%;
    }
}
.container-inner {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    @media (max-width: 767.8px) {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 110%;
    min-width: 319.8px;
    min-height: 319.8px;
}
main {
    flex-grow: 1;
    width: 100%;
}

#root {
    height: 100%;
}

* {
    // стилизация скролла для Firefox
    scrollbar-color: $gray $white; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;
    // стилизация скролла для Chrome
    &::-webkit-scrollbar {
        // это фон самого скроллбара
        background-color: $white;
        border-radius: 5px;
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        // индикатор прокрутки, перетаскиваемый элемент.
        background-color: $gray;
        border-radius: 5px;
    }
}

.opacity {
    opacity: 0.5;
    pointer-events: none;
    cursor: initial;
}
