// Основа ========================================================
//
// Обнуляющие стили
@import "nullstyle";
// Основа. Корневые теги и главная обертка
@import "_build";
// Переменные
@import "_vars";

// Страницы ======================================================
//
// Калькулятор
@import "pages/calculator";
// Секции
@import "pages/sections";
// Финансы
@import "pages/finance";

// Блоки =========================================================
//
// Хедер
@import "blocks/header";
// Футер
@import "blocks/footer";
// Цветные элементы
@import "blocks/colors_elements";
// Панель для секций
@import "blocks/simple_panel";
// Основной заголовок в секциях и тд
@import "blocks/title";
// Стрелка-ссылка назад
@import "blocks/link_back";
// Конвертер единиц
@import "blocks/conversion";
