// Основа ========================================================
//
// Обнуляющие стили
@import "nullstyle";
// Основа. Корневые теги и главная обертка
@import "_build";
// Переменные
@import "_vars";

// Страницы ======================================================
//
// Калькулятор
@import "pages/calculator";
// Секции
@import "pages/sections";
// Финансы
@import "pages/finance";

// Блоки =========================================================
//
// Хедер
@import "blocks/header";
// Футер
@import "blocks/footer";
