// Основа ========================================================
//
// Обнуляющие стили
@import "nullstyle";
// Основа. Корневые теги и главная обертка
@import "_build";
// Переменные
@import "_vars";

// Страницы ======================================================
//
// Калькулятор
@import "pages/calculator";
// Секции
@import "pages/sections";
// Финансы
@import "pages/finance";

// Блоки =========================================================
//
// Хедер
@import "blocks/header";
// Футер
@import "blocks/footer";
// Цветные элементы
@import "blocks/colors_elements";
// Панель для секций
@import "blocks/simple_panel";
// Основной заголовок в секциях и тд
@import "blocks/title";
// Стрелка-ссылка назад
@import "blocks/link_back";
// Конвертер единиц
@import "blocks/conversion";
// Модалка о произошедшей ошибке с подсказкой для пользователя
@import "blocks/error_prompt";
// Подсекция с возрастом
@import "blocks/age";
// Свайпер (слайдер)
@import "blocks/swiper";
// Радио-кнопки
@import "blocks/radio_buttons";
// Радио-кнопки
@import "blocks/number_input";
// Блок с выбором продолжительности времени инвестиций/кредита
@import "blocks/duration";
// Блок с кнопкой "расчета"
@import "blocks/calculate_button";

// Модалки =========================================================
//
// Модалка с результатом в расчете индекса массы тела
@import "modals/bwm_result";
// Модалка, где выбирается дата
@import "modals/choise_of_time";
// Модалка с результатом инвестиций/кредита
@import "modals/result";
