.calculate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 40px auto;
    padding: 10px 30px;
    font-size: 20px;
    background-color: $orange;
    color: $white;
    border-radius: 20px;

    transition: all 0.3s ease;
    &:hover {
        background-color: $orange-2;
    }

    &_hidden {
        opacity: 0.5;
        pointer-events: none;
    }
}
