.header {
    width: 100%;
    background: $gray-3;
    &__nav {
        padding: 40px 0;
        @media (max-width: 576px), (max-height: 440px) {
            padding: 20px 0;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15vw;
        width: 100%;
        li {
            flex: 0 0 64px;
            @media (max-width: 576px), (max-height: 440px) {
                flex: 0 0 36px;
            }
        }
    }
    &__link {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        img {
            max-width: 100%;
        }
    }
}
