.calculator {
    height: 100%;
    &__body {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: 100%;
        padding: 40px 0;
        @media (max-width: 576px), (max-height: 440px) {
            padding: 20px 0;
        }
        @media (max-height: 440px) {
            flex-direction: row;
        }
    }

    &__panel {
        flex: 1 1 50%;
        border: 1px solid $orange;
        max-height: 312px;
    }

    &__field {
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        border: 1px solid $orange;
        padding: 10px;
        text-align: right;
        overflow: hidden;
    }

    &__value,
    &__result,
    &__history-item {
        font-size: 24px;
        line-height: 1.1;
        font-weight: 700;
        opacity: 0.5;
        padding: 5px 0px;
    }
    &__value {
    }
    &__result {
    }

    &__history {
    }

    &__history-item {
        font-size: 16px;
    }
}
.panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 5px;
    }

    &__col {
        flex: 1 0 18%;
        height: 40px;
        border: 1px solid $orange-2;
        cursor: pointer;
    }

    &__cell {
        height: 100%;
        font-size: 20px;
        @media (max-width: 576px), (max-height: 440px) {
            font-size: 14px;
        }
        p,
        span {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 25px;
            height: 25px;
            @media (max-width: 576px), (max-height: 440px) {
                width: 20px;
                height: 20px;
            }
        }
        sup {
            margin-bottom: 10px;
        }
    }
}

.big-size {
    font-size: 36px;
    line-height: 110%;
    font-weight: 700;
    opacity: 1;
}
